[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "evoper"]
	path = evoper
	url = https://github.com/antonio-pgarcia/evoper
[submodule "rrepast"]
	path = rrepast
	url = https://github.com/antonio-pgarcia/rrepast
